* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu';
  }
  
  body {
    m
  }
  
  .container {
    margin: 0 auto;
    max-width: 1248px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 401px;
    height: 35px;
    border: 1px solid;
  }
  
  .logo {
    width: 49px;
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
  .logo-first {
    width: 20px;
    height: 20px;
    left: 240px;
    top: 77px;
  
    background: #9C69E2;
    border-radius: 20px;  
  }
  
  .logo-second {
    width: 20px;
    height: 35px;
    left: 269px;
    top: 62px;
  
    background: #F063B8;
    border-radius: 20px;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 231px;
    height: 30px;
  }
  
  .nav-link a{
    text-decoration: none;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
  }
  
    .active a {
    color: #212353; 
  }
  
  .headline {
    
  }
  
  .headline-header {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
  /* or 88px */
  
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 645px;
    color: #212353;
    margin-top: 143px;
  }
  
  .headline-description {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    /* or 29px */
    color: #4B5D68;
    max-width: 380px;
    height: 120px;
    margin-top: 50px;
  }
  
  .learn-more {
    width: 170px;
    height: 60px;
    background: #9C69E2;
    border-radius: 50px;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    border: none;
    margin-top: 50px;
  /* identical to box height, or 29px */
  
  
  
  color: #FFFFFF;
  }
  